.lqc-banner {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 600;
}

.lqc-banner_success {
  background-color: #2e844a;
}

.lqc-banner_error {
  background-color: #ba0517;
}

.lqc-banner_info {
  background-color: #0176d3;
}

.lqc-banner__text {
  flex: 1 1 auto;
}

.lqc-banner__close {
  flex: 0 0 auto;
}
